/*Astersik wildcard selector to override default syles added by the browser*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/*general body*/
body{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    /*generic project styles*/
    color:#3a3a3a;
}


/*header*/
header{
    background-color:lightcoral;
}
/*main content*/
main{
    background-color:lightblue;
    flex: 1 0 auto;
    /*make the main content take up any surpluce space to push footer down*/
}
/*footer*/
footer{
    background-color:orange;

}